.tableBox {
  position: relative;
  margin-top: 10px;
  .addButton{
    position: absolute;
    background: #169bd5;
    top: 5px;
    right: 12px;
    color: #fff;
    border: #169bd5;
  }
}

.ant-btn:focus {
    background: #169bd5!important;
    color: #fff!important;
}


 
.ordersTable{width:100%;display: fixed;}
.ordersTable .tdTitle{width:30%;}
.ordersTable .tdPrice{width:10%;}
.ordersTable .tdSaleqty{width:10%;}
.ordersTable .tdButton{width:10%;}
.ordersTable .tdType{width:10%;}
.ordersTable .tdDate{width:20%;}
.ordersTable thead tr th{
  padding: 0.8rem 0;
}

.ordersTable td{
  padding: 0.533333rem 0;
}

.ordersTable td input{
  width:4.0rem;
}
.pages{
  width:100%;
  text-align:right;
  margin-top:0.8rem;
}
